.recipe{
    max-width: 1200px;
    margin: 40px auto;
    text-align: center;
    padding: 40px;
    box-sizing: border-box;
    background-color:#CEDED6;
    border-radius: 7px;

}

.recipe ul{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 15px;

}
.recipe li{
    list-style-type: none;
    margin-right: 10px;
    color: #777;
}

.recipe li::after{
    content: ',';
}
.recipe li:last-child::after{
    content: '.';
}

.method{
    text-align: left;
    line-height: 1.5em;
    text-align: justify;
    margin-bottom: 10px;
    font-size: 0.84em;
}


/* dark  mode */
.recipe.dark{
    color: #E2E8F0;
    background-color: #282f37;
    box-shadow: 0 4px 6px rgba(96, 165, 250, 0.5);
}

.recipe.dark h1{
    color: white;
}
.recipe.dark li{
    color: #d1d2d3;
}