.create{
    color: #555;
    max-width: 480px;
    margin: 30px auto;
    background-color: #CEDED6;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px;

}
.create input{
    display: block;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #555;
    padding: 10px;
    font-size: 0.85em;
    outline: none;
}

.create h2{
    text-align: center;
    margin: 0;
    font-size: 1.46em;
}

.create label span{
    display: block;
    margin: 20px 0 10px;
}

.create p{
    margin-top: 0;
    font-size: 0.8em;

}
.create button{
    display: block;
    width: 100px;
    font-size: 0.9em;
    color: white;
    padding: 8px 20px;
    border: 0;
    border: 7px;
    background-color: #588973;
    cursor: pointer;
    text-decoration: none;
    margin: 20px auto;
    border-radius: 7px;
}
.submit-button:hover{
    box-shadow: 3px 3px 3px rgba(0,0,0,.5);
}

.ingredients{
    display: flex;
    align-items: center;
    gap: 10px
}

/* dark mode */

.create.dark{
    color: #E2E8F0;
    background-color: #282f37;
    box-shadow: 0 4px 6px rgba(96, 165, 250, 0.5);
}

.create.dark button{
    box-shadow: 0 4px 6px rgba(96, 165, 250, 0.5);
    background-color: #1E293B;
}

.create.dark h2{
    color: white;
}
.create.dark p{
    color: white;
}