header{
    background-color: #58249c;
    padding: 20px;
    color: #fff;
}

header nav{
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}
nav a.brand{
    margin-right: auto;
    color: white;
    text-decoration: none;
}
nav a.brand:hover{
    color: #58249c;
    background-color: white;
    border-radius: 5px;
}

nav a:last-child{
    color: white;
    text-decoration: none;
    margin-left: 40px;
    padding: 8px;
    border: 1px solid white;
    border-radius: 4px;
}
nav a:last-child:hover{
    color: #333;
    background-color: white;

}


