@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.recipe-list{
    max-width: 1200px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 40px;
}
.recipe-list .card{
    padding: 20px;
    background-color: #CEDED6;
    color: #101814;
    border-radius: 7px;
    box-shadow: 3px 3px 3px rgba(0,0,0,.05);
    transition: all 0.3s ease;
    position: relative;
}
.recipe-list .card:hover{
    transform: rotate(3deg);
    box-shadow: -5px -3px 3px rgba(98,147,127,0.5);
}

.recipe-list .card h3{
    color: #555;
    display: block;
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.2em;
    font-family: 'Lobster', cursive;
}

.recipe-list .card .cook-time{
    color: #999;
    font-size: 0.8em;
}
.recipe-list .card div{
    color: #555;
    font-size: 0.73em;
    margin: 20px 0;
    line-height: 1.5em;
}
.recipe-list .card a{
    color: #18251F;
    text-decoration: none;
    display: block;
    background: #9DBEAE;
    font-size: 0.8em;
    text-align: center;
    width: 120px;
    padding: 8px;
    border-radius: 7px;
    margin: 20px auto 0;
    transition: all 0.3s ease;
}

.recipe-list .card a:hover{
    box-shadow: 3px 3px 3px rgba(0,0,0,.3);
}

.delete{
    position: absolute;
    top:10px;
    right: 10px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    /* filter: invert(100%); */
}

/* dark mode */

.recipe-list .card.dark{
    background-color: #212738;
}
.recipe-list .card.dark:hover{
    box-shadow: 3px 3px 3px rgba(255,255,255,.3);
}

.recipe-list .card.dark p,
.recipe-list .card.dark h3,
.recipe-list .card.dark div{
    color: #E2E8F0;
}

.recipe-list .card.dark a{
    color: #3B82F6;
    background-color: #282f37 ;
}
.recipe-list .card.dark a:hover{
    box-shadow: 3px 3px 3px rgba(255,255,255,.03);
}