.search-bar form{
    display: flex;
    align-items: center;
}
.search-bar input{
    margin-right: 5px;
    border: none;
    padding: 12px 15px;
    border-radius: 8px;
    font-size: 16px;
    background-color: white;
    font-weight: 600;
}
.search-bar label{
   margin-left: 5px;
   cursor: pointer;
   font-size: 0.84em;
   font-weight: 600;
   color: white;

}